body {
  margin: 0;
  font: 13px -apple-system, BlinkMacSystemFont, 'Helvetica','Arial','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

